<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>A-Ha</title>

    <style>

        #button_hi {
            background-color: black;
            width: 100%;
            height: 50px;
            position: absolute;
            bottom: 0px;
            border: none; 
            opacity: 0; /* 불투명도*/
        }
        
        body {
            padding:0px, 0px, 0px, 0px; 
            margin:0px, 0px, 0px, 0px; 
            overflow:hidden; 
            background-color:#000; 
        } 

    </style>
    
</head>

<body>

    <video width="100%" controls> <!--autoplay loop muted controls  height="100%"-->
        <source src="../static/img/video.mp4" type="video/mp4">
        Your browser does not support the video element.
    </video>

    <div><a href="result1.html"><img id="button_hi"></a></div>

  </body>
</html>



